
.btn {
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: #252EFF;
  color: white;
  font-size: 15px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: 500;
}



.btn:hover {
  background: darkblue;
}
